body{
    margin: 0;
    background: linear-gradient(3rad, #8012aa, #D8F800) no-repeat;
    background-size: 2575px 2335px;
}
.container{
	text-shadow: 1px 1px 1px black;
	display: flex;
	flex-direction: column;
    align-items: center;
	justify-content: space-around;
    padding: 9px;
    /*border: 2px solid aqua;*/
}
.ads{
    /*border: 2px solid aqua;*/
    min-width: 320px;
    max-width: 600px;
    margin-bottom: 150px;
}
.ads select, section, input, textarea, button{
    color: #4f4d56bf;
    border-radius: 18px;
    width: 96%;
    min-height: 33px;
    text-align: center;
    margin-bottom: 15px;
    background: #f6d0fa;
	padding-left: 10px;
    box-shadow: #e6e5f0 0px 1px 2px, #e6e5f0 0px -1px 2px,inset 1px 1px 1px #b80ef1,inset -1px -1px 1px #b80ef1;
}
button{
    color: #4f4d56bf;
	text-shadow: 1px 1px 1px black;
	background: linear-gradient(#ce59f7, #D8F800) no-repeat;
    box-shadow: #e6e5f0 0px 1px 2px, #e6e5f0 0px -1px 2px,inset 1px 1px 1px #b80ef1,inset -1px -1px 1px #b80ef1;
}
#cityId,#typeId{
    background: linear-gradient(#ce59f7, #D8F800) no-repeat;
    box-shadow: #e6e5f0 0px 1px 2px, #e6e5f0 0px -1px 2px,inset 1px 1px 1px #b80ef1,inset -1px -1px 1px #b80ef1;
	height: 25px;
	width: 175px;
	margin-left: 25%;
}